<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catdopt</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <h1>Come and Check Out Our Cats</h1>
    <h3>put an image or two of cats</h3>

    <form action="/login" method="GET">
        <button class="btn float-left btn-info btn-sm">
          Login
        </button>
    </form>

    <form action="/signup" method="GET">
        <button class="btn float-right btn-primary btn-sm">
          Sign Up
        </button>
    </form>

    <h3>search for a cat breed</h3>
    <form action="/test">
        <input type="text" name="newish" placeholder="What are you looking for">
        <button>Search</button>
    </form>
</body>
</html>